body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: 0.3s;
}

/* TEMAS */
body.dark {
  background: #0f172a;
  color: white;
}

body.light {
  background: #f1f5f9;
  color: black;
}

/* HEADER */
header {
  text-align: center;
  padding: 50px 20px;
  background: #020617;
}

body.light header {
  background: #e2e8f0;
}

header h1 {
  font-size: 40px;
  margin: 0;
}

/* BOTÃO */
.btn {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* SECTIONS */
section {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
}

section h2 {
  text-align: center;
  font-size: 30px;
  margin:0;
}

/* CARD */
.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  transition: 0.3s;
}

body.light .card {
  background: #cbd5f5;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  margin-top: 30px;
}

body.light footer {
  background: #e2e8f0;
}

.botoes{
  margin-top: 15px;
}
.btn-projeto {
  display: inline-block;  
  margin: 5px;
  padding: 8px 9px;
  background: #0a172b;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}
.btn-projeto:hover {
  background: #0b1f49;
}

.hidden {
  display: none;
}

.btn {
  background: #000c1f;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  background: #1e40af;
}
.contato {
  text-align: left;
  margin-top: 30px;
}
.contato h3 {
  margin: 5px;
  padding: 12px 12px;
  font-family: calibri;
  font-size: 25px;
}
.contato p {
  margin: 2px;
  padding: 3px 3px;
}
section h3 {
  margin-top: 25px;
}
.card h3 {
  margin-top: 0;
}
a {
  color: #002791;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}



